.first-banner {
    background: url(../../assets/home-assets/banner/banner-first.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    /* aline the inner content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 155px 60px;

    border-radius: 10px;
}

.offer-btn {
    border-radius: 5px;
    background: #FF8A00;
    padding: 4px 12px;
    font-size: 20px;
    font-weight: 600;
}


.offer-banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 38, 3, 0.275) 100%), url(../../assets/home-assets/banner/banner-second.png);

    height: 288px;
    background-repeat: no-repeat;
    background-size: cover;


    /* aline the inner content */

    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding-left: 32px;
    border-radius: 10px;

}


.best-deal {
    background: url(../../assets//home-assets/banner/banner-therd.png);
    height: 288px;
    background-repeat: no-repeat;
    background-size: cover;


    /* aline the inner content */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
    border-radius: 10px;

}
