
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
 
/* -Google fonts- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.font-dancingScript {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}

.btnShop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 14px 20px;
  background-color: #00b207;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 43px;
}
.btnShop:hover {
  background-color: #2c742f;
}

.text-gray {
  color: #808080;
}

.carousel .thumbs-wrapper {
  position: absolute !important;
  left: -200px;
  bottom: 150px;
  transform: rotate(270deg);
}

.carousel .thumbs-wrapper li {
  transform: rotate(-270deg);
  border: 1px solid #a3a1a1;
  border-radius: 5px;
}

.carousel .thumbs-wrapper .selected {
  border: 2px solid #00b207 !important;
}

.carousel .thumbs-wrapper li:hover {
  border: 1px solid #00b207 !important;
}
.control-prev,
.control-next {
  display: none;
}

.control-dots,
.carousel-status {
  display: none;
}

/*  This class replace for container class */
.all-container {
    max-width: 1240px;
    width: 100%;
}
/* This class for navigation banner section */
.navbanner{
  background: url(/image/Shop_Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}




/* Footer classes */

.footer-text{
    color: #808080;
}