@tailwind base;
@tailwind components;
@tailwind utilities;

.btnShop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 14px 20px;
  background-color: #00b207;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 43px;
}
.btnShop:hover {
  background-color: #2c742f;
}

.text-gray {
  color: #808080;
}
